<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="dvbseserviceview.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <dvbseserviceview.Properties.Settings>
            <setting name="ServiceFileDVBS" serializeAs="String">
                <value />
            </setting>
            <setting name="ServiceFileDVBC" serializeAs="String">
                <value />
            </setting>
            <setting name="ServiceFileDVBT" serializeAs="String">
                <value />
            </setting>
            <setting name="FilterColumnHeaderWidth" serializeAs="String">
                <value />
            </setting>
            <setting name="FilterOptionExclude" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EITFile" serializeAs="String">
                <value />
            </setting>
            <setting name="EITColumnHeaderWidth" serializeAs="String">
                <value />
            </setting>
            <setting name="servicedifferentialfile1" serializeAs="String">
                <value />
            </setting>
            <setting name="servicedifferentialfile2" serializeAs="String">
                <value />
            </setting>
            <setting name="servicedifferentialnetworktype" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cmpName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cmpProvider" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cmpNetwork" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cmpOnid" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cmpVideo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cmpAudio" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cmpPmt" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cmpPcr" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cmpType" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cmpFreeCaMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cmpCaSystemId" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cmpLcn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cmpBouquet" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cmpFeatures" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cmpOnlyCompareCommonMux" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="columnNumber" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="columnName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="columnProvider" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="columnFrequency" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="columnPosition" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="columnNetwork" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="columnSid" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="columnTsid" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="columnNid" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="columnOnid" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="columnVideo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="columnAudio" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="columnPmt" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="columnPcr" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="columnType" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="columnFreeCaMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="columnCaSystemId" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="columnLcn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="columnBouquet" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="columnFeatures" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="columnWidthNumber" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="columnWidthName" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="columnWidthProvider" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="columnWidthFrequency" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="columnWidthPosition" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="columnWidthNetwork" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="columnWidthSid" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="columnWidthTsid" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="columnWidthNid" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="columnWidthOnid" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="columnWidthVideo" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="columnWidthAudio" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="columnWidthPmt" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="columnWidthPcr" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="columnWidthType" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="columnWidthFreeCaMode" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="columnWidthCaSystemId" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="columnWidthLcn" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="columnWidthBouquet" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="columnWidthFeatures" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="columnData" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="columnWidthData" serializeAs="String">
                <value>100</value>
            </setting>
        </dvbseserviceview.Properties.Settings>
    </userSettings>
</configuration>